.navItem {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

/* a:hover {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40A4C8;
    color: white;
} */

/* .navItem a:hover,
.navItem a:active,
.navItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40A4C8;
    color: white;
} */

@media (min-width: 500px) {
    .navItem {
        margin: 0;
        display: inline;
    }
    
    .navItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    /* a:hover {
        background-color: #8f5c2c;
        border-bottom: 4px solid #40A4C8;
        color: white;
    } */
    
    /* .navItem a:hover,
    .navItem a:active,
    .navItem a.active {
        background-color: #8f5c2c;
        border-bottom: 4px solid #40A4C8;
        color: white;
    } */
}