.navBar--navBar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    padding: 16px 80px;
    box-sizing: border-box;
    z-index: 90;
    justify-content: space-between
}
.navBar--desktop{
    padding-left: 13px;
}

.navBar--navBar nav {
    height: 100%;
    flex: .25;
    text-align: right;
}

@media (max-width: 847px){
 
    .navBar--navBar {
        padding: 16px 0px;
    }
    
}

@media (max-width: 500px){
    .navBar--desktop{
        display: none;
    }
    .navBar--mobile{
        width: 100%;
    }
    .navBar--navBar {
        padding: 16px 10px;
    }
    
}

@media (min-width: 500px){
    .navBar--mobile{
        display: none;
        /* width: 100%; */
    }
}