/* html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
  height: 100%;
}

.image-container {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */




/* document.body.style.backgroundRepeat = "no repeat";
document.body.style.backgroundSize = 'cover';
document.body.style.backgroundPosition = 'center';
document.body.style.backgroundAttachment = 'fixed' */

.gallery--photo {
	
}

.gallery--leftArrow {
	font-size: 100px;
	font-weight: 100px;
	color: white;
	float: left;
	margin: 30% 0 0 3%;
    cursor: pointer;
	display: block;
	border-radius: 50%;
}

.gallery--leftArrow:hover {
	color: rgb(60, 124, 233);
	background-color: white;
}

.gallery--rightArrow {
	font-size: 100px;
	font-weight: 100px;
	color: white;
	float: right;
    margin: 30% 3% 0 0;
    cursor: pointer;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	
}

.gallery--rightArrow:hover{
	color: rgb(60, 124, 233);
	background-color: white;
}

@media (max-width: 500px){
	.gallery--leftArrow {
		font-size: 35px;
		margin: 90% 0 0 3%;
		color: rgb(60, 124, 233);
		background-color: white;

	}
	.gallery--rightArrow{
		font-size: 35px;
		margin: 90% 3% 0 0;
		color: rgb(60, 124, 233);
		background-color: white;
	}
}