.mainContainer {
    padding-top: 10%;
    width: 75%;
    margin: 0 auto;
}

.individualContainer {
    background-color: rgba(128, 128, 128, 0.95);
    display: block;
    padding: 20px 20px 0px 20px;
    margin: 20px 20px 0px 20px;
    /* text-align: center; */
    color: black;
    font-size: 25px;   
}
.icon{
   font-size: 50px;
   display: inline;
}

.personInfo{
    display: inline;
}

.quote {
    padding: 20px;
}


.readMore {
    background-color: rgba(128, 128, 128, 0.95);
    display: block;
    padding: 0 20px 20px 20px;
    margin: 0 20px 20px 20px;
    text-align: right;
    color: black;
    font-size: 15px;   
}

.readMore:hover {
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 500px){
    .mainContainer{
        width: 96%;
        margin: 20% 2%;
        padding: .5%;
        padding-top: 20px;
        /* background-color: brown; */
    }

    .individualContainer {
        font-size: 16px; 
        text-align: left; 
        padding: 20px 10px 5px 10px;
        margin: 20px 10px 0px 10px;
    }

    .readMore {
        padding: 0 10px 20px 10px;
        margin: 0px 10px 0px 10px;
        text-align: right;
        color: black;
        font-size: 15px;   
    }
}