.testimonial--mainContainer {
    padding-top: 10%;
    width: 85%;
    margin: 0 auto;
}

.testimonial--individualContainer {
    background-color: rgba(184, 215, 232, 0.85);
    display: block;
    padding: 20px 20px 0px 20px;
    margin: 20px 20px 0px 20px;
    /* text-align: center; */
    color: black;
    font-size: 21px;   
}
.testimonial--icon{
   font-size: 50px;
   display: inline;
}

.testimonial--personInfo{
    display: inline;
}

.testimonial--quote {
    padding: 20px;
}


.testimonial--readMore {
    display: block;
    padding: 0 20px 20px 20px;
    margin: 0 20px 20px 20px;
    text-align: right;
    color: black;
    font-size: 15px;   
}

.testimonial--readMore:hover {
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 500px){
    .testimonial--mainContainer{
        width: 96%;
        margin: 20% 2%;
        padding: .5%;
        padding-top: 20px;
    }

    .testimonial--individualContainer {
        font-size: 16px; 
        text-align: left; 
        padding: 5px 10px 5px 10px;
        margin: 20px 10px 0px 10px;
    }

    .testimonial--readMore {
        padding: 0 10px 20px 10px;
        margin: 0px 10px 0px 10px;
        text-align: right;
        color: black;
        font-size: 15px;   
    }
}