.container {
    border:  1em solid white;
    width: 40%;
    display: inline-block;
    margin: 5%;

}

header {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10%;
    padding-bottom: 5%;
}

.contactInfo {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    padding: 10%;
    padding-top: 5%;
    font-size: 20px;
}

.symbol {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    padding: 1%; 
    font-size: 3em;
}


@media (max-width: 800px) {
    .container{
        display: block;
        margin: 5%;
        width: 90%;
    }

    .contactInfo {
        background-color: aquamarine;
        display: inline;
        display: block;
        text-align: center;
        padding: 10%;
        padding-left: 5%;
        padding-top: 5%;
        font-size: 20px;
    }
}