.contacts--mainContainer {
    display: flex;
    margin: 15% auto;
    padding: 10px;
    width: 80%;
}

.contacts--container {
    border:  5px solid white;
    width: 40%;
    margin: 5%;
    background-color: rgba(184, 215, 232, 0.85);
}

header {
    /* background-color: rgb(60, 124, 233); */
    display: inline;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10%;
    padding-bottom: 5%;
}

.contacts--symbol {
    /* background-color: rgb(60, 124, 233); */
    display: inline;
    display: block;
    text-align: center;
    padding: 1%; 
    font-size: 3em;
}

.contacts--contactInfo {
    /* background-color: rgb(60, 124, 233); */
    display: inline;
    display: block;
    text-align: center;
    padding: 10%;
    font-size: 20px;
}

a {
    color: black;
    cursor: pointer;
    margin: auto;
}

a:focus {
    text-decoration: underline;
}

 
@media (max-width: 500px){

    .contacts--mainContainer {
        margin: 50px auto;
        padding: 10px;
        width: 95%;
        display: block;
    }

    .contacts--container {
        margin: 25px auto;
        width: 90%;
    }
}