.mainContainer {
    /* background-color: rgba(128, 128, 128, 0.8); */
    /* display: block; */
    /* color: black; */
    /* border: black 20 px solid; */
    margin: 15% 12.5%;
    /* padding: 20px; */
    /* width: 75%; */
}

.container {
    border:  1em solid white;
    width: 40%;
    display: inline-block;
    margin: 5%;

}

header {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10%;
    padding-bottom: 5%;
}

.symbol {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    padding: 1%; 
    font-size: 3em;
}

.contactInfo {
    background-color: aquamarine;
    display: inline;
    display: block;
    text-align: center;
    padding: 10%;
    font-size: 20px;
}
a {
    color: black;
    cursor: pointer;
}
a:focus{
    text-decoration: underline;
}

@media (max-width: 800px) {
    .container{
        display: block;
        margin: 5%;
        width: 90%;
    }

    .contactInfo {
        background-color: aquamarine;
        display: inline;
        display: block;
        text-align: center;
        /* padding: 10%;
        padding-left: 5%;
        padding-top: 5%; */
        font-size: 20px;
    }
}

@media(max-width:500px){
    .mainContainer{
        margin: 15% auto;
        padding: 10px;
        width: 95%;
    }
}