body {
	background-image: url(https://holdennewhomes.files.wordpress.com/2015/02/6838-ranger-rd-frisco-tx-mls-7.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 0%;
	/*transition: 1s;*/
}


/* .container{
  background-color: black;
  width: 100%;
} */
/* .test{
  text-align: center;
  display: inline-block;
  color: red;
  border: black solid 4px;
  max-width: 33%;
  margin: 20px;
  padding: 4px;
}

h1{
  text-align: center;
} */



