body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 
    background-image: url(https://holdennewhomes.files.wordpress.com/2015/02/6838-ranger-rd-frisco-tx-mls-7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0%;
}
